.favorites-text-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  /* background-color: rgba(51, 50, 50, 0.651); */
}

.favorites-heading {
  text-align: center;
}

.favorites-body-text {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: 0.03rem;
  max-width: 38vw;
}

.no-fave-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  img {
    max-width: 50vw;
    padding: 2rem;
  }
}

.next-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem; /* Adjust the top margin as needed */
}
