.footer {
  width: 100%; /* Instead of 100vw to prevent horizontal overflow */
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem; /* Adjust the top margin as needed */
}

.footer p {
  font-size: 0.8rem;
}
