#movie-list-page {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap onto the next line */
  justify-content: center; /* Horizontally center the cards */
  gap: 50px;
  padding-top: 3rem;
}

.movie-card {
  width: 400px; /* Adjust the width as needed */
  height: auto; /* Allow the height to adjust based on content */

  background-color: rgba(
    62,
    62,
    62,
    0.4
  ); /* Set a background color for the card */
  border-radius: 10px; /* Add rounded corners */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); Add a soft shadow effect */
  box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.1),
    /* inner white */ 0 0 30px 2px rgba(255, 0, 255, 0.1),
    /* middle magenta */ 0 0 70px 1px rgba(0, 255, 255, 0.1); /* outer cyan */

  overflow: hidden; /* Hide any content that exceeds the boundaries of the card */
}

.card-body {
  padding: 20px; /* Add padding inside the card */
}

.card-body img {
  width: 100%; /* Ensure the image fills the width of the card */
  height: 18rem;
  object-fit: cover;
}

.card-heading {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
}

h4 {
  padding-top: 0.8rem;
}

.like-button {
  align-self: center;
}
