html {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Neue Montreal";
}
.Navbar {
  padding: 0 1.3rem 0 1.3rem;
  max-height: 3.5rem;
}

.webLogo {
  padding: 0 0 0 0;
  max-width: 14vw;
}

/* .navbar {
  height: 10vh; /* Adjust the height as needed */

.icon {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  margin-right: 5px; /* Adjust spacing as needed */
}

.nav-link-container ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-link-container li {
  display: flex;
  align-items: center;
  /* padding: 10px; */
  cursor: pointer;
  font-family: "Neue Haas Grotesk", sans-serif;
  font-weight: 500px; /* Set font weight to bold */
  font-size: medium;
  color: rgb(237, 235, 240);
}
