html {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.Navbar {
  padding: 0 1rem 0 1rem;
  max-height: 4rem;
}

.webLogo {
  padding: 0.8rem 0 0 0;
  max-width: 17vw;
}

/* .navbar {
  height: 10vh; /* Adjust the height as needed */

.icon {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  margin-right: 5px; /* Adjust spacing as needed */
}

.nav-link-container ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-link-container li {
  display: flex;
  align-items: center;
  /* padding: 10px; */
  cursor: pointer;
  font-family: "Neue Haas Grotesk", sans-serif; /* Set font family */
  font-weight: 500px; /* Set font weight to bold */
  font-size: medium;
}
