h1,
h2,
h4 {
  font-family: "Sequel 100 Wide 95";
  letter-spacing: 0.09rem;
}

html,
h3,
h5,
p {
  font-family: "neue-haas-grotesk-display", sans-serif;
  /* font-family: "Neue Montreal"; */
  text-decoration: none;
  list-style: none;
  a {
    text-decoration: none; /* Remove the underline */
    /* Other styles if needed */
  }
}
html h1 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  /* font-family: "Neue Montreal"; */
  font-weight: 800;
}
button {
  font-family: inherit;
  font-size: 0.9rem;
}
